<style>
    h1,h2 {
        border-bottom: 1px solid darkslategray;
        color: aliceblue;
        opacity:1;
    }
    p {
        padding-left: 10px;
    }
</style>

<div class="jumbotron" style="margin-top:15px">
    <h1>DH_FinancialPortal API</h1>
    <p class="lead">This API allows access to the DH_FinancialPortal database for nearly any
     platform over the internet. Giving the user seamless multi-platform ready data. This 
    data comes in either XML or JSON formats based on the operation.</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">Go to the API &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What is an API?</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API is 
        an ideal platform for building RESTful applications on the .NET Framework.</p>
    </div>
    <div class="col-md-4">
        <h2>Organized by Swagger</h2>
        <p>Using the Swagger NuGet package, this API is laid out in an intuitive and easy to 
        understand way. Swagger also allows the designer to easily customize the user interface.
        This puts creative control firmly in the hands of the developer while lightening the 
        workload needed for functionality.</p>
    </div>
    <div class="col-md-4">
        <h2>Dark Mode Design</h2>
        <p>This API is designed with a customized dark mode for lessening eye strain and more 
        efficient power usage. It is aesthetically pleasing and simultaneously functional. 
        Providing an exceptional user experience.</p>
    </div>
</div>
